#who-am-ai {
  height: 100dvh;
  flex-direction: column;
  background-color: black;

  .text-grow {
    transition: all 200ms ease-in-out;
    transform-origin: bottom;
    display: inline-block;

    &:hover {
      transform: scaleY(1.2);
    }
  }

  .content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    backdrop-filter: brightness(0.7) blur(2px);
    border-radius: 12px;
    overflow: hidden;
    font-size: 1.25rem;
    color: white;

    &::selection {
      background: rgb(180 66 213 / 30%);
      color: white;
    }

    .item {
      display: flex;
    }

    .name {
      animation-duration: 20s;
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👨‍💻</text></svg>") 16 0, auto;
    }

    .react {
      --accent: #58c4dc;
    }


    a {
      display: inline-flex;
      align-items: baseline;

      &:hover {
        color: var(--accent, white);
      }
    }
  }
}
