@import "tailwindcss";
@import "./keyframes.css";

:root {
  --background: #fff;
  --foreground: #171717;
  --red: #ff0047;
  --purple: #d100ff;
  --blue: #404ee0;
  --pink: #a0f;

  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow: hidden;
  background-color: black;
  color-scheme: dark;
}

body {
  background-color: black;
  color: var(--foreground);
  width: 100dvw;
  height: 100dvh;
  overflow: hidden scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  z-index: 0;
  scroll-snap-align: start;
}

.content {
  z-index: 1;
}

.text-dancing-colors {
  background: linear-gradient(to right, var(--red), var(--purple), var(--blue), var(--pink), var(--red));
  color: #0000;
  background-clip: text;
  animation: 1s ease-in-out 1s forwards appear,
  1s ease-in-out 1s forwards text-grow,
  10s ease-in-out infinite alternate-reverse shifting-colors;

}
