.space {
  position: absolute;
  display: flex;
  justify-content: center;
  inset: 0;
  background-color: black;
  z-index: -1;
  pointer-events: none;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/stars.png");
    background-size: 300px;
    opacity: 0.2;
    pointer-events: none;
  }

  .star {
    --size: 2px;

    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
    width: var(--size);
    height: var(--size);

    &:nth-of-type(1) {
      inset-block-start: 10%;
      inset-inline-start: 20%;
      animation-delay: 1s;
    }

    &:nth-of-type(2) {
      inset-block-start: 80%;
      inset-inline-start: 30%;
      animation-delay: 3s;
    }

    &:nth-of-type(3) {
      inset-block-start: 30%;
      inset-inline-start: 80%;
      animation-delay: 5s;
    }

    &:nth-of-type(4) {
      inset-block-start: 90%;
      inset-inline-start: 70%;
      animation-delay: 7s;
    }

    &:nth-of-type(5) {
      inset-block-start: 50%;
      inset-inline-start: 10%;
      animation-delay: 9s;
    }

    &:nth-of-type(6) {
      inset-block-start: 30%;
      inset-inline-start: 50%;
      animation-delay: 11s;
    }

    @media (prefers-reduced-motion: no-preference) {
      animation: twinkle 10s infinite alternate;
    }
  }
}

@keyframes shifting-colors {
  to {
    background-position: 1400px;
  }
}

@keyframes twinkle {
  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
    scale: 1.2;
    box-shadow: 0 0 10px 5px #fff6;
  }

  60% {
    opacity: 0.5;
  }
}
