section#space {
  background-color: black;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/stars.png");
    background-size: 300px;
    opacity: 0.2;
  }

  .moon {
    position: absolute;
    inset-block-start: max(-80vw, -45%);
    filter: brightness(0.5) drop-shadow(2px 4px 20px rgb(255 255 255 / 20%));
    z-index: 1;
    max-width: 99vw;

    @media (prefers-reduced-motion: no-preference) {
      transition: filter 1.5s ease-in 400ms;
      animation: moon-descend 2s ease-in-out forwards;
    }

    &:hover {
      filter: brightness(0.9) drop-shadow(2px 4px 40px rgb(255 255 255 / 40%));
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: clamp(2.5rem, 4vw, 4rem);
      text-align: center;
      margin-bottom: 1rem;
      background: linear-gradient(
        to right,
        var(--red),
        var(--purple),
        var(--blue),
        var(--pink),
        var(--red)
      );
      background-clip: text;
      color: transparent;

      @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        animation: appear 1s ease-in-out 1s forwards,
        text-grow 1s ease-in-out 1s forwards,
        shifting-colors 10s ease-in-out infinite alternate-reverse;
      }
    }

    p {
      color: #afafaf;
      font-size: clamp(1rem, 3vw, 2rem);

      @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
        animation: appear 1s ease-in-out 1.5s forwards, text-grow 1s ease-in-out 1.5s forwards;
      }
    }
  }

  .star {
    --size: 2px;

    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
    width: var(--size);
    height: var(--size);

    &:nth-of-type(1) {
      inset-block-start: 10%;
      inset-inline-start: 20%;
      animation-delay: 1s;
    }

    &:nth-of-type(2) {
      inset-block-start: 80%;
      inset-inline-start: 30%;
      animation-delay: 3s;
    }

    &:nth-of-type(3) {
      inset-block-start: 30%;
      inset-inline-start: 80%;
      animation-delay: 5s;
    }

    &:nth-of-type(4) {
      inset-block-start: 90%;
      inset-inline-start: 70%;
      animation-delay: 7s;
    }

    @media (prefers-reduced-motion: no-preference) {
      animation: twinkle 10s infinite alternate;
    }
  }
}

@keyframes moon-descend {
  0% {
    translate: 0 -10%;
  }

  100% {
    translate: 0 0;
    scale: 1.1;
    rotate: 5deg;
  }
}

@keyframes shifting-colors {
  to {
    background-position: 1400px;
  }
}

@keyframes twinkle {
  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
    scale: 1.2;
    box-shadow: 0 0 10px 5px #fff6;
  }

  60% {
    opacity: 0.5;
  }
}
